a {
  background-color: deepskyblue;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
  height: 30px;
  border-radius: 50px;
}

a:visited {
  color: darkblue;
  background-color: cadetblue;
}

a:hover {
  background-color: darkviolet;
  color: aqua;
  font-family: "Courier New", Courier, monospace;
}

a:active {
  background-color: black;
}

a:focus {
  box-shadow: 4px 5px 6px #aaa;
}
input:focus {
  background-color: dodgerblue;
  /* border-radius: 50px; */
}

#contenido {
  margin-top: 100px;
}

strong:first-child {
  background-color: cyan;
}

strong:last-child {
  background-color: yellowgreen;
}

ol li:last-child {
  color: green;
}

ol li:first-child {
  color: red;
}

ul li:nth-child(2) {
  color: blue;
}

ul li:nth-last-child(2) {
  background-color: burlywood;
}
body {
  padding: 10px;
}
