div {
  border-radius: 25px;
  color: white;
}
.fondo-verde {
  background-color: green;
  font-size: 30px;
  padding: 25px;
  border: 16px dashed;
  border-radius: 30px;
}
#primer-parrafo {
  text-align: center;
  text-shadow: 60px 50px 20px blueviolet;
  line-height: 40px;
}
#clase-1 {
  font-size: 100px;
  color: blueviolet;
}
